.training {
  padding: 0px 0px 10px 0px;
  box-sizing: border-box;

  display: flex;
}

.training .menu {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--topbar-height));
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: none;
  border-right: 1px solid #f18f0e72;
  box-shadow: grey -4px 1px 4px 0px;
  padding: 0px;
  overflow: hidden;
}

.training .menu .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.training .menu .buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--sidebar-width);
    height: var(--sidebar-width);

    margin: 0px;
    padding: 0px;
    background: none;
    border: none;

    overflow: hidden;

  }

  .training .menu .buttons .btn svg:hover {
    fill: var(--orange0);
  }
  

.logs {
  overflow-y: scroll;
  height: auto;
  max-height: calc(100vh - var(--topbar-height) - 10px);
  width: calc( 100vw - var(--topbar-height) - var(--topbar-height));
  padding: 10px
}

.log {
  width: 100%;
  border: solid 1px rgba(51, 51, 51, 0.1);
  background: rgba(228, 228, 228, 0.2);
  box-shadow: rgba(51, 51, 51, 0.15) 0px 0px 3px -3px;
  padding: 7px 7px 7px 7px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.notif {
  font-size: small;
  letter-spacing: 1px;
  max-height: 35px;
}

.error {
}

.error .message {
  font-size: small;
  letter-spacing: 1px;
  min-height: 30px;

  display: flex;
  align-items: center;

  background: #fb7d7d;
  padding-left: 10px;
  border-radius: 2px;
  color: rgb(252, 252, 252);
}

.error pre {
  padding: 10px;
  border-radius: 2px;
  background: white;
  border: solid 1px rgba(51, 51, 51, 0.05);
}

.epoch {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  max-height: 100px;
}

.epoch .upper {
  display: grid;
  grid-template-columns: 2fr 18fr;
  height: 45px;
  padding-bottom: 3px;
}

.epoch .lower {
  /* display: grid; */
  border-top: solid 1px rgba(51, 51, 51, 0.1);
  margin: 10px 3px 7px 3px;
  padding-top: 5px;
}

.epoch .epochname {
  font-size: 14px;
  height: 50%;
  margin: 0px 0px 10px 0px;
}

.epoch .batch {
  font-size: 12px;
  height: 50%;
  margin: 5px 0px 0px 0px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .bar {
  width: 100%;
  height: 50%;
  border: solid 1px rgba(51, 51, 51, 0.1);
  background: rgba(228, 228, 228, 0.3);
  border-radius: 3px;
}

.progress .done {
  background: rgb(87, 158, 87);
  height: 100%;
}

.outputs {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  display: flex;
}

.outputs .output {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 10px 0px 3px;
  margin-right: 3px;

  /* border-right: solid 1px rgba(51, 51, 51, 0.1); */
}

.output .name {
  font-size: 12px;
}

.output .val {
  font-size: 12px;
}

.buttons {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.buttons .btn {
  border: solid 1px rgba(51, 51, 51, 0.042);
  background: rgb(228, 228, 228);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  font-weight: 400;
  font-size: small;
  letter-spacing: 1px;
  width: -webkit-fill-available;

  border-radius: 2px;
}

.outvis {
  display: flex;
  flex-direction: column;
}

.outvis div {
  height: 25px;
  font-size: small;
  letter-spacing: 1px;
}

.outvis img {
  border: solid 1px rgba(51, 51, 51, 0.15);
}
