input:focus{
  outline: none;
}

select:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
  padding-left: 10px;
  height: 7px;
}
 
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background: white; */
}
 
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}

*{ 
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

body{
  overflow: hidden;
}




