:root {
  --broder : rgba(51, 51, 51, 0.042);
  --broder-dark : rgba(51, 51, 51, 0.15);
  --broder-darker : rgba(51, 51, 51, 0.25);
  --broder-darkest : rgba(51, 51, 51, 0.35);

  --sidebar-width: 60px;
  --topbar-height: 60px;

  --monitor-width : 400px; /* Cahnge appconfig after changing */

  --orange0 : #f15f11;
  --orange1 : #f18f0e9a;
  --orange2 : #f18e0e;
  --orange3 : #f18f0e67;

  --bg-light : white;
  --bg-dark : #333;

  --color-dark : #333;
  --color-light : white;

  --bgs-light : #fafafa;
  --bgs-dark : #555;

  --svg-active : #f15f11;
  --svg-dark : #ddd;
  --svg-light : #333;

  --broder-dark : rgba(221, 221, 221, 0.193);
  --border-light : rgba(51, 51, 51, 0.248);

  scrollbar-color: rgb(210,210,210) rgba(162, 162, 162, 0);
  scrollbar-width: 13px;

}

*:focus{
  outline: none;
  border: none;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
  padding-left: 10px;
  height: 5px;
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--orange2);
  border-radius: 3px;
}

*{ 
  box-sizing: border-box;
  /* font-family: monospace; */
}

html{
  overflow: hidden;
}

body{
  overflow: hidden;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

/* Top Level Blocks */

.light {
  background-color: var(--bgs-light);
}

.dark {
  background-color: var(--bgs-dark);
}

.container {
  position: absolute;
  height: calc( 100vh - var(--topbar-height) ) ;
  width: calc( 100vw - var(--sidebar-width) );

  overflow: hidden;

  top: var(--topbar-height);
  left: var(--sidebar-width);

  /* transition-property: all; */
  /* transition-duration: 100ms; */
}

.light .container{
  background: var(--bg-light);
}

.dark .container{
  background: var(--bg-dark);
}


.nav { 
  height: 100vh;
  width: var(--sidebar-width) ;
  border-right: 1px solid #f18f0e72;
  box-shadow: none;
}

.light .nav {
  background: var(--bg-light);
}

.dark .nav {
  background: var(--bg-dark);
}

.nav .title {
  height: calc(var(--topbar-height) - 1px);
  width: var(--sidebar-width);
  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.light .nav .title {
  border-right: 1px solid white;
}

.dark .nav .title {
  border-right: 1px solid #333;
}

.nav .title svg{
  height: 30px;
}

.nav .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  width: var(--sidebar-width);
}

.nav .navigation .btn {
  width: var(--sidebar-width);
  height: var(--topbar-height);
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

}

.nav .navigation .btn svg{
  fill: #f18f0e72;
}

.nav .navigation .selected {
  border-top: 1px solid var(--orange1);
  border-bottom: 1px solid var(--orange1);
}

.light .nav .navigation .selected {
  border-right: 1px solid var(--bgs-light);
  background: var(--bgs-light);
}

.dark .nav .navigation .selected {
  border-right: 1px solid var(--bgs-dark);
  background: var(--bgs-dark);
}

.nav .navigation .selected svg{
  fill: #f15f11;
}


.topbar{
  height: var(--topbar-height);
  width: calc( 100% - var(--sidebar-width) ) ;

  top: 0px;
  left: var(--sidebar-width);

  position: absolute;
  z-index: 9999;
  border-bottom: 1px solid var(--orange1);

  display: grid;
  grid-template-columns: 18fr 1fr 1fr;
}

.light .topbar {
  background: var(--bg-light);
  color: var(--color-dark);
}

.dark .topbar {
  background: var(--bg-dark);
  color: var(--color-light);
}

.topbar .title{
  height: calc(var(--topbar-height) - 1px );
  width: 100px;

  display: flex;
  align-items: center;
  padding-left: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}

.dark .topbar .title{
  color: var(--color-light);
}
 
/* Cmenu */


.topbar .cmenupar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.light .topbar .cmenupar svg{
  fill: var(--bg-dark);
}

.dark .topbar .cmenupar svg{
  fill: var(--bg-light);
}

.light .topbar .open{
  background: var(--bgs-light);
  border: 1px solid var(--orange1);
  border-bottom: none;
}

.dark .topbar .open{
  background: var(--bgs-dark);
  border: 1px solid var(--orange1);
  border-bottom: none;
  border-top: none;
}

.topbar .open::after{
  content: "";
  width: calc( ((100vw - var(--sidebar-width)) * 0.05) - 1px );
  height: 3px;

  position: absolute;
  top: calc(var(--topbar-height) - 1px);
}

.dark .topbar .open::after{
  background: var(--bgs-dark);
}

.light .topbar .open::after{
  background: var(--bgs-light);
}

.cmenu {
  position: absolute;
  top: calc(var(--topbar-height) - 1px);
  width: 250px;
  left: calc(100vw - 310px);

  padding: 5px 10px;
  border: 1px solid var(--orange1);
}



.light .cmenu {
  background: var(--bgs-light);
}

.dark .cmenu {
  background: var(--bgs-dark);
}

.topbar .cmenu .btn {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.topbar .cmenu .name {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .cmenu .btn .shortcut {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
}


/* Switch */


.topbar .switch {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.topbar .holder{
  height: 23px;
  width: 42px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  cursor: pointer;

  transition-property: all;
  transition-duration: 200ms;
}

.light .topbar .holder{
  background: skyblue;  
  justify-content: flex-start;
}

.dark .topbar .holder{
  background: #582d58;  
}

.topbar .button{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition-property: all;
  transition-duration: 500ms;
}

.light .topbar .button{
  background: yellow;  
  transform: translateX(0px);
}

.dark .topbar .button{
  background: rgb(226, 164, 6);
  transform: translateX(18px);  
}

.popups{
  position: absolute;
  z-index: 99999;

  top: var(--topbar-height);
  left: var(--sidebar-width);

  height: calc( 100vh - var(--topbar-height) );
  width: calc( 100vw - var(--sidebar-width) );

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

.popups .save-dialogue{
  height: 100px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.light .save-dialogue{
  background: var(--bgs-light);
  border: 1px solid var(--orange0);
  color: var(--color-dark);
}

.dark .save-dialogue{
  background: var(--bgs-dark);
  border: 1px solid var(--orange1);
  color: var(--color-light);
}

.save-dialogue .btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.save-dialogue .btns div{
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 20px;
  color: white !important;
  cursor: pointer;
}

.dark .save-dialogue .btns div{
  border: 1px solid var(--border-light);
}

.light .save-dialogue .btns div{
  border: 1px solid var(--broder-darker);
}


/* DownloadCode */

.download-model{
  height: 150px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.light .download-model{
  background: var(--bgs-light);
  border: 1px solid var(--orange0);
  color: var(--color-dark);
}

.dark .download-model{
  background: var(--bgs-dark);
  border: 1px solid var(--orange1);
  color: var(--color-light);
}

.download-model .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

/* .light .title {
  background: var(--bg-light);
}

.dark .title {
  background: var(--bg-dark);
} */

.download-model .select {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #777;
  height: 60px;
}

.download-model button {
  border: none;
  cursor: pointer;
}