input:focus{
  outline: none;
}

select:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
  padding-left: 10px;
}
 
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background: white; */
}
 
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}

*{ 
  box-sizing: border-box;
  /* overflow: hidden; */
}



.canvas{
  height: 100vh;
  width: 100vw;
  display: block;

  overflow: scroll;
}


.node {
  height: 60px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.node .name{
  
  height: 50px;
  width: 170px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid 1px rgba(51, 51, 51, 0.042);
  background: rgb(228, 228, 228);
  border-radius: 5px;

  color: #333;
  font-weight: 500;
  font-size: medium;
  letter-spacing: 1px;
}

.edgeGroup{
  height: 5px;
  width: 4px;
  position: relative;

  border: solid 3px #333;
  border-radius: 50%;

  background: #333;
  visibility: hidden;
}

.nav {
  height: 100vh;
  width:  15vw;
  position: fixed;
  z-index: 9999;
  
  background: #eee;
  box-shadow: #ddd 3px 3px 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .title{
  height: 60px;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

  background: linear-gradient(to right, #f15f11,#f18e0e, #f59d19);

}

.nav .btn-large{
    border: solid 1px rgba(51, 51, 51, 0.042);
    background: rgb(228, 228, 228);
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 95%;
    height: 40px;
    margin-top: 5px;
  
}

.toolbar { 
  margin-top: 5px;
  width: 95%;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.toolbar .btn{
  border: solid 1px rgba(51, 51, 51, 0.042);
  background: rgb(228, 228, 228);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  font-weight: 500;
  font-size: small;
  letter-spacing: 1px;
}

.toolbar .named{
  color: #333;
  font-weight: 500;
  letter-spacing: 1px;
}

.layergroups{
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 1px rgba(51, 51, 51, 0.042);
  
  height: 50vh;
  width: 95%;
  padding : 10px 0vh 0vh 7px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.layers {
  width: 100%;
  margin:0px 0px 1vh 0px;
  border: solid 1px rgba(51, 51, 51, 0.042);
  background: rgb(228, 228, 228);
}

.layers .name{
  height: 45px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: small;
  letter-spacing: 1px;

  cursor: pointer;
  border-radius: 2px;
}

.layers .grid {

  width: 100%;
  display: grid;
  grid-gap: 5px;
  padding: 0px 7px 7px 7px;
}

.grid .btn{ 
  border: solid 1px rgba(51, 51, 51, 0.042);
  background: rgba(255, 255, 255, 0.645);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  
  font-weight: 500;
  font-size: small;
  letter-spacing: 1px;

  border-radius: 2px;

}

.menu{
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 15vw;
  padding: 5px;

  top: 0px;
  left: 85vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
  border: rgba(51, 51, 51, 0.241) 1px solid;
  box-shadow: rgba(51, 51, 51, 0.35) -2px 0px 10px -5px;
}

.menu .name{
  font-size: small;
  font-weight: 500;
  letter-spacing: 1px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .properties{
  width: 13vw;
  display: grid;
  grid-gap: 10px;
  margin-top: 5px;
}

.menu .property{
  height: 60px;
  border: rgba(51, 51, 51, 0.241) 1px solid;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.menu select{
  width: 11.5vw;
  margin-top: 6px;
  height: 25px;

  border: rgba(51, 51, 51, 0.186) solid 1px;
  border-radius: 3px;
}

.menu input{
  border: rgba(51, 51, 51, 0.186) solid 1px;
  border-radius: 3px;

  background: whitesmoke;
  
  height: 25px;
  padding-left: 10px;
  margin-top: 5px;
}

line{
  stroke-width: 1.5px;
  stroke : rgb(51, 51, 51);
  -moz-box-shadow: -5px -5px 5px rgb(255, 12, 12);
  -webkit-box-shadow: -5px -5px 5px rgb(255, 0, 0);
  box-shadow: -5px -5px 5px rgb(255, 6, 6); 
}



/* training */

.training{
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 20vw;
  width: 80vw;
  padding: 1vw;
}

.training .title{
  height: 50px;
  display: flex;
  font-size: large;
  font-weight: 500;
  letter-spacing: 1px;
  align-items: center;
}

.epochs{
  display: grid;
  margin-top: 1vh;
  grid-gap: 1vh;
}

.epoch{
  width: 100%;
  border: solid 1px rgba(51, 51, 51, 0.042);
  background: rgba(228, 228, 228, 0.207);
  padding: 1vh;
}

.epochs .epoch_number {
  height: 25px;
  display: flex;
  align-items: center;
}

.epochs .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.epochs .batch_number{
  font-size: small;
}

.epochs .progress {
  width: 70vw;
  height: 20px;
  background: #ddd;
  display: flex;
  align-items: center;
}

.epochs .bar {
  height: 10px;
  background: green;
  padding: 0vw 1vw;
}