.home {
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr 3fr 2fr 28fr;
}

.light .home {
    background: var(--bgs-light) ;
    color: var(--color-dark);
}

.dark .home {
    background: var(--bgs-dark) ;
    color: var(--color-light);
}

.home .cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fill , minMax( 240px, 1fr ) );

    height: auto;
}

.light .home .card{
    background: var(--bg-light) ;
    color: var(--color-dark);
}

.dark .home .card{
    background: var(--bg-dark) ;
    color: var(--color-light);
}

.card {
    height: 160px;
    border-radius: 2px;
    display: grid;
    grid-template-rows: 8fr 2fr;
    cursor: pointer;
}

.dark .card {
    border: 1px solid rgba(240, 240, 240, 0.4);
    background: var(--bg-dark);
}

.light .card {
    border: 1px solid rgba(40, 40, 40, 0.4);
    background: var(--bg-light);
}

.card .name{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    padding-left: 5px;
    font-size: 13px;

    letter-spacing: 1px;
    padding: 0px 10px;
}

.light .card .name {
    background: #eee;
}

.dark .card .name {
    background: #444;
}

.dark .card  svg {
    fill: #eee;
    height: 15px;
    width: 15px;
}

.light .card  svg {
    fill: #444;
    height: 15px;
    width: 15px;
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new svg{
    height: 50px !important;
    width: 50px !important;
}

.new input {
    letter-spacing: 1px;
    font-weight: 500;
}

.light .new input {
    background: var(--bg-light);
    color: var(--color-dark);
}

.new input {
    background: var(--bg-dark);
    color: var(--color-light);
}

.name {
    display: flex;
    align-items: center;
    height: 100%;

    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;

    padding-left: 5px;
}

.active {
    width: 255px;
 }

.active svg{
    height: 15px !important;
    width: 15px !important;
}

.active .name {
    padding: 0px 10px;
}

.active .head {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

@keyframes load_popup {
    0%{
        transform: scale( 0.8 )translate( -60%, -60%);
    }    
    100%{
        transform: scale( 1.0 ) translate( -50%, -50%);
    }
}

.download-model{
    height: 100vh;
    width: 100vw;
  
    display: flex;
    align-items: center;
    justify-content: center;
 

    animation-name: load_popup;
    animation-duration: 300ms;
  }
  
  .dark .download-model {
    background: var(--bg-dark);
    border: 1px solid rgba(240, 240, 240, 0.4);
  }

  .light .download-model {
    background: var(--bg-light);
    border: 1px solid rgba(24, 24, 24, 0.4);
  }

  .options {
    width: 50%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .option {
    height: 40px;
    width: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    font-weight: 300;
    font-size: small;
    letter-spacing: 1px;

    border-radius: 2px;
    cursor: pointer;
}

.dark .option {
    background: var(--bgs-dark);
    color: var(--color-light);
    border: 1px solid rgba(240, 240, 240, 0.4);
}

.light .option {
    background: var(--bgs-light);
    color: var(--color-dark);
    border: 1px solid rgba(24, 24, 24, 0.4);
}

.dark .title {
    background: none;
    border: none;
}

.light .title {
    background: none;
    border: none;
}

.light .download-model .output a{
    color: var(--color-dark);
}

.dark .download-model .output a{
    color: var(--color-light);
}

.download-model .output {
    width: 20%;
    height: 40px;
}

.download-model .output a {
    text-decoration: none;
    font-weight: 300;
    font-size: small;
}

.download-model .exit {
    position: absolute;
    top: 5%;
    left: 90%;

    font-weight: 300;
    letter-spacing: 1px;
    font-size: small;
}

.dark .exit {
    color: var(--color-light);
}

.light .exit {
    color: var(--color-dark);
}
