.nav { 
    height: 60px;
    background: linear-gradient(to right, #f15f11,#f18e0e, #f59d19);
    
    display: grid;
    grid-template-columns: 2fr 17fr 1fr;
}

.nav .title {
    height: 60px;

    color: white;
    font-weight: 600;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav .navigation .btn {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.6);
    width: 70px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: small;
    letter-spacing: 1px;
    font-weight: 400;

    cursor: pointer;
}

.nav .navigation .selected {
    text-decoration: none;
    color: whitesmoke;
    width: 70px;
    height: 100%;
    font-weight: 600;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(225, 209, 209, 0.049);

}

.files {
    display: flex;
    justify-content: center;
    align-items: center;
}

.files .icon {
    border: solid 2px white;
    border-radius: 2px;

    height: 25px;
    width: 25px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;

    padding: 0px 3px;
}

.files .icon .bar {
    width: 100%;
    height: 2px;

    background: whitesmoke;
}

.files .dropdown {
    position: absolute;
    top: 15px;
    right: 25px;

    z-index: 9999;


    min-height: 200px;
    min-width: 200px;
    padding: 5px;
    background: white;

    border: solid 1px rgba(51, 51, 51, 0.142);
    border-radius: 3px;
}

.files .dropdown .title {
    font-size: small;

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    padding: 3px;

    color: rgba(36, 36, 36, 0.8);    
    cursor: pointer;
}


.files .dropdown .btn {
    font-size: small;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 20px;
    margin-bottom: 5px;
    padding: 3px;

    color: rgba(36, 36, 36, 0.8);    
    cursor: pointer;
}


.files .dropdown .btn .name {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
}

.files .dropdown .btn .name span {
    font-size: 3px;
    margin-top: 3px;
    margin-right: 3px;

    visibility: hidden;
}


.files .dropdown .btn .shortcut {
    font-size: smaller;
    letter-spacing: 1px;
}
