.sum-col {
    width: 100%;
    display: grid;

    grid-template-columns: 3fr 2fr 1fr 3fr;

    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.sum-col .col {
    width: 100%;
}