@import "./_app.scss";

.inference {
  padding: 10px 10px 10px 10px;
  background: $lightFr;
  color: $lightColorPr;

  .image {
  }

  .classification {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 470px calc(100% - 480px);
    grid-gap: 10px;

    .image-container {
      height: auto;
      width: 100%;

      background: $lightBg;
      border: $lightBorder3;
      padding: 10px;
      border-radius: 3px;

      .upload {
        height: 40px;
        input {
          height: 0px;
          width: 0px;
          display: none;
          visibility: hidden;
        }
        label {
          height: 30px;
          padding-left: 5px;
          @extend .heading-4;
          @include flex(row, flex-start, center);
        }
      }

      .display {
        border: none !important;
        .image {
          border: none !important;
          img {
            border: none !important;
            outline: none !important;

            height: 448px;
            width: 448px;
            border-radius: 3px;
            @include flex(row, center, center);
          }
        }
      }

      .curl {
        margin-top: 10px;
        height: calc(100% - (448px + 40px + 10px));
        code {
          width: 448px;
          height: 100%;

          display: flex;
          flex-direction: column;

          background: $lightFr;
          padding: 10px;
          border-radius: 3px;
          border: $lightBorder3;

          span {
            color: $lightColorPr;
            height: 25px;
            @extend .heading-3;
          }
        }
      }
    }

    .result-container {
      height: auto;
      padding: 10px;
      background: $lightBg;
      border: $lightBorder3;
      border-radius: 3px;

      .title {
        height: 30px;
        width: 100%;
        padding-left: 5px;

        @include flex(row, flex-start, center);
        @extend .heading-4;
      }

      .prediction {
        height: calc(100% - 40px);
        margin-top: 10px;
      }
    }
  }

  .segmentation {

    .result-container {

    }
  }
}


.dark {
  .inference {
    background: $darkFr;
    color: $darkColorPr;

    .classification {
      .image-container {
        background: $darkBg;
        border: $darkBorder3;

        .upload {
          input {
          }
          label {
          }
        }

        .display {
          img {
          }
        }

        .curl {
          code {
            background: $darkTr;
            border: $darkBorder3;

            span {
              color: $darkColorPr;
            }
          }
        }
      }

      .result-container {
        background: $darkBg;
        border: $darkBorder2;

        .title {
        }

        .prediction {
        }
      }
    }

    .segmentation {

    .result-container {
      height: max-content !important;
      .result {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 10px;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  }
}
