@keyframes loading_animate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.loading {
    animation: loading_animate 1s infinite;
}

.loading svg{
    height: 50px;
}

