@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$sidebarWidth: 60px;
$topbarHeight: 60px;
$statusBarHeight: 20px;
$lossmonitorWidth: 640px;
$notificationHeight: 60px;

// Colors

$primary: #f28622d5;
$secondary: #f29b22;
$tirtiary: #f2ad22;

// Dark palette

$darkBg: rgb(39, 39, 33);
$darkFr: rgb(73, 73, 65);
$darkTr: rgba(228, 228, 228, 0.05);

$darkColorPr: #fefefe;
$darkColorSc: #fafafa;

$darkBtnPr: rgba(70, 70, 70, 1);

$darkBorder3: 0.01rem solid rgba(79, 79, 79, 1);
$darkBorder2: 0.01rem solid rgba(130, 130, 130, 0.3);
$darkBorder1: 0.01rem solid rgba(189, 189, 189, 1);

// Light palette

$lightBg: rgba(254, 255, 254, 1);
$lightFr: rgba(250, 250, 250, 1);

$lightColorPr: rgb(18, 76, 89);
$lightColorSc: #4f4f4f;
$lightColorTr: rgba(140, 140, 140, 0.7);

$lightBtnPr: rgba(228, 228, 228, 0.15);

$lightBorder1: 0.01rem solid rgba(51, 51, 51, 0.3);
$lightBorder2: 0.01rem solid rgba(85, 85, 85, 0.3);
$lightBorder3: 0.01rem solid rgba(119, 119, 119, 0.15);

// Typo

.heading-1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.heading-2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.heading-3 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.heading-4 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.heading-5 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.05em;
}

.heading-6 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 11px;
  letter-spacing: 0.05em;
}

.heading-bold {
  font-weight: 500;
}

.heading-medium {
  font-weight: 400;
}

.heading-regular {
  font-weight: 300;
}

.heading-light {
  font-weight: 200;
}

.heading-thin {
  font-weight: 100;
}

.heading-italic {
  font-style: italic;
}

// Geometry

// mixins

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin height($min: 100%, $required: 100%, $max: 100%) {
  min-height: $min;
  height: $required;
  max-height: $max;
}

@mixin width($min: 100%, $required: 100%, $max: 100%) {
  min-width: $min;
  width: $required;
  max-width: $max;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

html body {
  overflow: hidden;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.6;
  background: rgba(200, 54, 54, 0.5);
  filter: alpha(opacity=50);
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
  padding-left: 10px;
  height: 5px;
  cursor: grabbing;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 3px;
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-column-center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  cursor: pointer;
}

.app {
  display: flex;

  .sidenav {
    max-width: $sidebarWidth !important;
    width: $sidebarWidth !important;
    min-width: $sidebarWidth !important;
    height: 100vh;
    overflow: hidden;
  }
  .container-area {
    width: -webkit-fill-available;
    height: 100vh;
    border: none;
  }
}

.container {
  height: calc(100% - (#{$topbarHeight} + #{$statusBarHeight}));
  width: 100%;
  overflow: hidden;
}

.popup {
  position: absolute;
  z-index: 99999;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@keyframes load_notification {
  0% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(-32px);
  }
  100% {
    transform: translateX(0%);
  }
}

.notification {
  position: absolute;

  bottom: $statusBarHeight + 10px;
  right: 10px;
  z-index: 999999;

  min-width: 280px;
  max-width: 340px;

  animation: load_notification 500ms;
  @include flex(row, flex-start, center);

  .message {
    height: $notificationHeight;
    width: 100%;
    padding: 5px 5px 5px 10px;

    @extend .heading-4;
  }

  .notif-info {
    border-left: 3px solid blue !important;
  }

  .notif-success {
    border-left: 3px solid green !important;
  }

  .notif-error {
    border-left: 3px solid red !important;
  }

  .close {
    width: 25px;
    padding: 2.5px;
    height: $notificationHeight;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}

@keyframes unload_notification {
  0% {
    transform: translateX(0px);
  }
  45% {
    transform: translateX(-48px);
  }
  100% {
    transform: translateX(110%);
  }
}

.nout {
  animation: unload_notification 510ms;
}

.light {
  background: $lightBg;
  .notification {
    border: $lightBorder2;
    background: $lightBg;
    color: $lightColorPr;
  }

  .loaddata {
    background: $lightFr;
  }
}

.dark {
  background: $darkBg;
  .notification {
    border: $darkBorder2;
    background: $darkBg;
    color: $darkColorPr;
  }
  .loaddata {
    background: $darkFr;
  }
}
