@import './App.scss';

.margin-view-overlays{
    border-right: 1px solid var(--orange1);
}

.light .margin-view-overlays {
    background: $bgsLight !important;
}

.dark .margin-view-overlays {
    background: $bgsDark !important;
}

.monaco-scrollable-element {
    margin-left: 10px !important;
}