@import './App.scss';

.summary {
    .sum-col {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}

.dark {
    .summary {
        background: $darkFr;

    }
}

.light {
    .summary {
        background: $lightFr;

    }
}